* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 100%;
}

/* ===========================NAVBAR================================= */
nav img {
  position: relative;
  height: 100px;
  width: 150px;
  margin-left: 5rem;
}

nav {
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: #93a1ad;
}

.nav_menu {
  margin-right: 5rem;
  display: flex;
  gap: 5rem;
}

.nav_item {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.nav_item:hover {
  background-color: #a51c30;
}

/* ===========================BANNER================================= */
#banner {
  text-align: center;
  height: 700px;
}
#banner h1 {
  margin-left: 1rem;
  font-size: 75px;
}

#banner p {
  margin-left: 2rem;
  font-size: 20px;
  margin-bottom: 1rem;
}

.banner-slide {
  width: 100%;
}

.banner-slide img {
  width: 100%; /* Sesuaikan lebar dengan kontainer */
  height: 580px; /* Pertahankan rasio aspek */
}
/* ===========================ACHIEVEMENTS================================= */
.achievements {
  padding-top: 1px;
  /* background-color: #fcb315; */
}

.achievements h1 {
  text-align: center;
  margin-top: 1rem;
  color: #a51c30;
  font-size: 50px;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.achievement-container h2 {
  color: #a51c30;
}

.achievement-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.achievement p {
  margin-top: 5px;
  font-size: 20px;
}

/* ===========================FACILITATION================================= */
.facilitation {
  background-color: #93a1ad36;
  text-align: center;
}

.facilitation-container {
  padding-top: 1px;
}

.facilitation-container h1 {
  margin-top: 1rem;
  color: #a51c30;
  /* background-color: aquamarine; */
  font-size: 50px;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.facilitation-content {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  /* margin-bottom: 6rem; */
  /* margin-left: 5rem; */
  /* justify-content: center; */
  gap: 5rem;
  justify-content: center;
}

.contents {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contents p {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contents img {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 50%;
}

/* ===========================FORM================================= */
#message-form {
  padding-top: 1px;
  background-color: rgb(0, 0, 0);
}

.form_container {
  color: white;
  display: flex;
  gap: 2rem;
  margin-left: 5rem;
}

form h1 {
  color: #a51c30;
  text-align: center;
  font-size: 50px;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.form-left,
.form-right {
  padding: 10px;
}

.form-left div,
.form-right div {
  margin-bottom: 15px;
}

.form-left {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px 20px;
  gap: 15px;
}

.form-left label {
  margin-right: 2rem;
}

.form-right {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid white;
  border-radius: 20px 20px;
}
.form-right label {
  margin-right: 2rem;
}
label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

#display-message-text {
  display: block;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-overflow: ellipsis;
}

.name,
.birth_of_date,
.gender_container,
.message {
  display: flex;
  flex-direction: row;
  gap: 1px;
  font-size: 20px;
}

.current_time {
  font-size: 20px;
}

input {
  font-size: 20px;
}

label {
  margin-bottom: 5px;
}

textarea {
  width: 600px;
  height: 300px;
}

.gender_container input[type="radio"] {
  margin-right: 5px;
}

.gender_container label {
  margin-right: 15px;
}

button {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
  padding: 5px;
  width: 42rem;
  font-size: 20px;
  font-style: italic;
  border-radius: 10px 10px;
}

button:hover {
  background-color: #a51c30;
  color: white;
  border-color: white;
}

/* ===========================FOOTER================================= */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a51c30;
  color: white;
  font-style: italic;
  padding: 2rem;
}

footer p {
  font-size: 20px;
}

footer img {
  width: 150px;
}

/* ===========================MEDIA QUERIES================================= */

/* extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  #banner {
    height: auto;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  nav img {
    margin-left: 1rem;
  }

  .nav_item {
    display: grid;
  }

  .nav_menu {
    flex-direction: column;
    gap: 1rem;
    margin: 0;
  }

  .banner-info {
    margin: 5px 5px;
  }

  .banner-slide {
    width: 100%;
    overflow: hidden; /* Pastikan tidak ada overflow */
  }

  .banner-slide img {
    width: 100%;
    height: auto;
  }

  .contents {
    align-items: center;
  }

  .facilitation-content {
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }

  .form_container {
    flex-direction: column;
    margin: 0;
  }
  .form-left,
  .form-right {
    width: 100%;
    margin: 0;
  }

  textarea {
    width: 100%;
    height: 200px;
  }

  button {
    width: 100%;
    margin: 1rem 0;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer img {
    width: 100px;
  }

  footer p {
    margin-top: 1rem;
  }

  #banner h1 {
    margin-left: 0;
  }

  #banner p {
    margin-left: 0;
  }
  .achievement-container {
    grid-template-columns: 1fr;
    overflow-x: auto;
    gap: 20px;
  }
}

/* small devices (potrait tablets and large phones, 600px and up) */
/* @media screen and (min-width: 600px) {
  #banner {
    height: auto;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  nav img {
    align-items: center;
    margin: 0;
    height: auto;
    width: 200px;
  }

  .nav_menu {
    flex-direction: row;
    gap: 2rem;
    margin: 0;
  }

  .form_container {
    flex-direction: column;
    margin: 0;
  }
  .form-left,
  .form-right {
    width: 100%;
    margin: 0;
  }
} */

/* Medium  devices (landscape tablets, 768px and up) */
/* @media screen and (min-width: 768px) {
} */

/* Large  devices (laptops/desktop, 992px and up) */
/* @media screen and (min-width: 992px) {
} */

/* Extra large  devices (large laptops/desktop, 1200px and up) */
/* @media screen and (min-width: 1200px) {
} */
